*~
*.pyc

config/if-config
config/networks/*

old.rules/*
./rules

.pc/
debian/changelog
debian/compat
debian/copyright
debian/docs
debian/files
debian/patches
debian/source
debian/berlin
debian/berlin.*
